body {
  font-family: "Georama", sans-serif;
}
.count__number {
  border: 1px solid #000000;
  padding: 1px 0px;
}
.counter_btn {
  border: 1px solid black;
  color: white;
  background: black;
  font-size: 1rem;
}
